*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'GT America Standard', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #191a1b;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* CREATING THE MODAL */
div.modal-container{
    width: 22rem;
    height: 30rem;
    position: fixed;
    bottom: 3.8rem;
    right: 3rem;
    overflow: hidden;
    border-radius: 0.8rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 0px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);  animation-name: slidein;
    animation-duration: 1.5s;
    display: none;
}
@keyframes slidein{
    0%{
        transform:translateX(100px)
    }
    100%{
        transform:translateX(-15px)
    }
}

div.headin{
    height: 3rem;
    background-color: #4c5fd5;
    text-align: center;
    padding-top: 0.4rem;
    display: flex;
    place-items: center;
}
div.small-humburger{
    width: 10px;
    height: 1px;
    background-color: white;
    margin-right: 10px;
  
}
div.small-humburger:hover{
    cursor: pointer;
    background-color: azure;
    
}

div.headin h4{
    margin-right: auto;
    text-align: center;
    margin-left: 110px;
}
div.para p{
    color: #191a1b;
    font-size: 14px;
}
.p1{
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    width: 150px;
    margin: 20px 0;
    margin-left: 0.4rem;
    text-align: center;
}
.p1 .colored{
    color: rgb(144, 80, 2);
}
p.p2{
    background-color:rgb(225, 225, 225);
    position: absolute;
    top: 14rem;
    left: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
p.exit{
    background-color:rgb(225, 225, 225);
    position: absolute;
    top: 10rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
div.para a{
    background-color: black;
    color: green;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 6rem;
    left: 1rem;
    animation-delay: 5s;
    animation-name: clickme;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes clickme{
    0%{
        transform: translatey(10px);
    }
    15%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: scaleY(-10px);
    }
}