footer{
    width: 80%;
    margin: 0 auto;
    height: 300px;
    display: grid;
    grid-template-areas: 
    'a b'
    'c d'
    'e. ';
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.9;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);

}
.about-con{
    margin-bottom: 30px;
    grid-area: a;
}
.general-con{
    grid-area: b;
    margin-bottom: 30px;
}
.resources-con{
    margin-bottom: 60px;
    grid-area: c;
}
.fa-brands{
    background-color: #04ddb2;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    margin-right: 10px;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}
.fa-brands:hover{
    transform: scale(1.1);
}
.social-icon{
    margin-bottom: 30px;
    grid-area: d;
    display: flex;
    margin-top: 40px;
    align-self: flex-start;
    flex-direction: column;
}
.lobe svg{
    margin-left:80px;
}
.lobe{
    width: 200px;
    background-color: azure;
    padding-bottom: 40px;
    grid-area: e;
    margin-left:60px;
}
.lobe p{
    text-align: center;
    font-size: 16px;
    line-height: 2.5;
}
@media screen and (min-width:900px){
    footer{
    justify-content: space-between;
        grid-template-areas:
        'e a b c d';
       gap: 3rem;
       width: 80%;
       font-size: 15px;
       margin-bottom: 0px;
    }
    .lobe svg{
        margin-left:0px;
    }
    lobe{
        margin-left:0px;
    }
    .lobe{
        padding-bottom: 40px;
        grid-area: e;
        width: 170px;
    }
    .lobe p{
        text-align:left;
        font-size: 15px;
    }
    .social-icon {display: flex;
    gap: 0.5rem;
    flex-direction: row;
    }
}